<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Spoof Game</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#2c3e50">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700">
    <link rel="stylesheet" href="{% static 'css/vendor.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/elephant.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/application.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/product.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/demo.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/iEdit.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{% static  'css/shopping-cart.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/daterangepicker.min.css' %}">
  <script src="{% static 'js/daterangepicker.min.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

  <style type="text/css">
    
      .errorlist {
      list-style: none !important;
      }
    </style>
 
  </head>
  <body class="layout layout-header-fixed">
    <div class="layout-header">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <!-- <a class="navbar-brand navbar-brand-center" href="/admin/panel/home/">
            <img class="navbar-brand-logo" src="/media/img/logo.png" alt="Elephant">
          </a> -->
          <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#sidenav">
            <span class="sr-only">Toggle navigation</span>
            <span class="bars">
              <span class="bar-line bar-line-1 out"></span>
              <span class="bar-line bar-line-2 out"></span>
              <span class="bar-line bar-line-3 out"></span>
            </span>
            <span class="bars bars-x">
              <span class="bar-line bar-line-4"></span>
              <span class="bar-line bar-line-5"></span>
            </span>
          </button>
          <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="arrow-up"></span>
            <span class="ellipsis ellipsis-vertical">
              <img class="ellipsis-object" width="32" height="32" src="/media/img/0180441436.jpg" alt="Teddy Wilson">
            </span>
          </button>
        </div>
        <div class="navbar-toggleable">
          <nav id="navbar" class="navbar-collapse collapse">
            <button class="sidenav-toggler hidden-xs" title="Collapse sidenav ( [ )" aria-expanded="true" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="bars">
                <span class="bar-line bar-line-1 out"></span>
                <span class="bar-line bar-line-2 out"></span>
                <span class="bar-line bar-line-3 out"></span>
                <span class="bar-line bar-line-4 in"></span>
                <span class="bar-line bar-line-5 in"></span>
                <span class="bar-line bar-line-6 in"></span>
              </span>
            </button>
            <ul class="nav navbar-nav navbar-right">

              <li class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true">
                  <span class="icon-with-child hidden-xs">
                    <span class="icon icon-bell-o icon-lg"></span>
                    <span class="badge badge-danger badge-above right">{{number_of_notification}}</span>
                  </span>
                  <span class="visible-xs-block">
                    <span class="icon icon-bell icon-lg icon-fw"></span>
                    <span class="badge badge-danger pull-right">7</span>
                    Notifications
                  </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
                  <div class="dropdown-header">
                    
                    <h5 class="dropdown-heading">Recent Notifications</h5>
                  </div>
                  <div class="dropdown-body">
                    <div id="notific" class="list-group list-group-divided custom-scrollbar">
                      <!-- {% for notification in notification %} -->
                      <!-- <a class="list-group-item" href="/admin/panel/notification_list/">
                        <div class="notification">
                          <div class="notification-media">
                            <span class="icon icon-exclamation-triangle bg-warning rounded sq-40"></span>
                          </div>
                          <div class="notification-content">
                            <small class="notification-timestamp">{{notification.created}}</small>
                            <h5 class="notification-heading">{{notification.text}}</h5>
                            <p class="notification-text">
                              <small class="truncate">{{notification.message}}</small>
                            </p>
                          </div>
                        </div>
                      </a> -->
                      <!-- {% endfor %} -->
                    </div>
                  </div>
                  <div class="dropdown-footer">
                    <a class="dropdown-btn" href="/admin/panel/notification_list/">See All</a>
                  </div>
                </div>
              </li>
              <li class="dropdown hidden-xs">
                <button class="navbar-account-btn" data-toggle="dropdown" aria-haspopup="true">
                  {% if request.user.profile_image %}
                  <img class="rounded" width="28" height="28" src={{request.user.profile_image.url}} alt="Teddy Wilson">
                  {% endif%}
                  <span style="font-size:15px">Hi {{request.user.first_name}}</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="/admin/panel/admin_profile/">Profile</a></li>
                  <li><a href="/admin/panel/logout/">Sign out</a></li>
                </ul>
              </li>

              <li class="visible-xs-block">
                <a href="contacts.html">
                  <span class="icon icon-users icon-lg icon-fw"></span>
                  Contacts
                </a>
              </li>
              <li class="visible-xs-block">
                <a href="/admin/users/admin_profile/">
                  <span class="icon icon-user icon-lg icon-fw"></span>
                  Profile
                </a>
              </li>
              <li class="visible-xs-block">
                <a href="/admin/users/logout/">
                  <span class="icon icon-power-off icon-lg icon-fw"></span>
                  Sign out
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="layout-main">
      <div class="layout-sidebar">
        <div class="layout-sidebar-backdrop"></div>
        <div class="layout-sidebar-body">
          <div class="custom-scrollbar">
            <nav id="sidenav" class="sidenav-collapse collapse">
              <ul class="sidenav">
                
                <li class="sidenav-heading">Navigation</li>
                <li class="sidenav-item dashboardPageNav">
                  <a href="/admin/panel/home/" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-home"></span>
                    <span class="sidenav-label">Dashboard</span>
                  </a>
                </li>
                <li class="sidenav-item profilePageNav">
                  <a href="/admin/panel/admin_profile/" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-user"></span>
                    <span class="sidenav-label">Profile</span>
                  </a>
                </li>



                <li class="sidenav-item userListPageNav">
                  <a href="#" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-users"></span>
                    <span class="sidenav-label">Account management</span>
                  </a>
                </li>


                


                <li class="sidenav-item reportListPageNav">
                  <a href="#" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-font-awesome"></span>
                    <span class="sidenav-label">Report management</span>
                  </a>
                </li>



<!--                <li class="sidenav-item">-->
<!--                  <a href="#" aria-haspopup="true">-->
<!--                    <span class="sidenav-icon icon icon-shopping-cart"></span>-->
<!--                    <span class="sidenav-label">Order management</span>-->
<!--                  </a>-->
<!--                </li>-->

                <li class="sidenav-item notificationListPageNav">
                  <a href="#" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-bell"></span>
                    <span class="sidenav-label">Notification management</span>
                  </a>
                </li>

                <li class="sidenav-item reportGenListPageNav">
                  <a href="#" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-bar-chart-o"></span>
                    <span class="sidenav-label">Report Generation</span>
                  </a>
                </li>

                <li class="sidenav-item has-subnav settingNav">
                  <a href="#" aria-haspopup="true" aria-expanded="true">
                    <span class="sidenav-icon icon icon-gear"></span>
                    <span class="sidenav-label">Settings management</span>
                  </a>

                  <ul class="sidenav-subnav collapse" aria-expanded="true" style="">
                    <li class="settingNav-a"><a href="#">Terms and conditions</a></li>
                    <li class="settingNav-c"><a href="/admin/panel/about_us/">About Us</a></li>
<!--                    <li class="settingNav-d"><a href="/admin/panel/contact_us/">Contact Us</a></li>-->
                    <li class="settingNav-b"><a href="/admin/panel/faq/">FAQ</a></li>
                  </ul>
                </li>

            </ul>
            </nav>
          </div>
        </div>
      </div>

      <script type="text/javascript">

         $(document).ready(function() {
        $.ajax({
            url: "/admin/panel/api/header_data/",
            type: 'GET',
            dataType: 'json',
            success: function(data, textStatus, xhr) {
                console.log(data);
        var html = "";
        $(data.notification).each(function(i, notification){
        html = '<a class="list-group-item" href="">'+
                        '<div class="notification">'+
                          '<div class="notification-media">'+
                            '<span class="icon icon-exclamation-triangle bg-warning rounded sq-40"></span>'+
                          '</div>'+
                          '<div class="notification-content">'+
                            '<small class="notification-timestamp">'+notification.created+'</small>'+
                           '<h5 class="notification-heading">'+notification.title+'</h5>'+
                            '<p class="notification-text">'+
                              '<small class="truncate">'+notification.message+'</small>'+
                            '</p>'+
                          '</div>'+
                        '</div>'+
                      '</a>'
          $("#notific").append(html);
        });


            },
            error: function(xhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    });


      </script>
